SSTS.Api.Command/obj/**
SSTS.Api.Command/bin/**
SSTS.Api.Query/obj/**
SSTS.Api.Query/bin/**
SSTS.Library.Common/obj/**
SSTS.Library.Common/bin/**
SSTS.Library.ConfigurationManagement/obj/**
SSTS.Library.ConfigurationManagement/bin/**
SSTS.Library.Mongo/obj/**
SSTS.Library.Mongo/bin/**
